<!DOCTYPE html>
<html>

<head class="addticket">
	<meta charset="UTF-8">
	<title>Ticket Tracker Application</title>
	<script src="https://cdn.tiny.cloud/1/6k6ytuo3x11y0tn97lob9zeh0kdku2xewoxns35z09qdhl35/tinymce/6/tinymce.min.js"
		referrerpolicy="origin"></script>

	<script>
		tinymce.init({

			selector: '#mycontent',

			plugins: 'lists bold italic underline lists link image code media table hr wordcount fullscreen',

			toolbar: 'formatselect | undo redo | bold italic underline | bullist numlist | bold italic underline strikethrough | link image media | hr',

			menubar: false,

			branding: false

		});

	</script>
	<style>
		input {
			width: 100%;
			padding-bottom: 10%;
		}
	</style>
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<form action="insertion" method="post">
		<div class="header">
			<h1>Ticket Tracker Application <a href="/admin/tickets/">Tickets</a><a href="addTicket">New Ticket</a></h1>
		</div>
		<br><br>
		<center>
			<div class="addTicket">
				<div class="add">

					<h1 align="center"><b>Add TICKET</b></h1>
					<br><br>
				</div>
				<lable>Title</lable>
				<br>
				<input type="text" name="ticketTitle" value="Enter Ticket Details">
				<br><br>
				<label>Short Description</label>
				<br>
				<input type="text" name="ticketShortDescription" value="Enter Ticket Description">
				<br><br>
				<label>Content</label>
				<br>
				<textarea id="mycontent" name="content"></textarea>
				<br><br>
				<button type="submit">Submit</button>
			</div>
		</center>

	</form>








</body>

</html>